@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    color: rgb(224, 224, 224);
}

body {
    background-color: #121212;
    font-family: Montserrat;
}

header {
    /* border: 0.5px solid white; */
    width: 90%;
    margin: auto;
}

div.cabecera {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4px;

}

h1.titulo-menu {
    display: inline-block;
    font-size: 16px;
}

div.menu {
    display: inline-block;
}

div.menu button {
    background-color: transparent;
    border: none;
}

div.menu button i {
    color: white;
}


main {
    width: 90%;
    margin: auto;
}

div.contenedor-tarjetas {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.tarjeta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 70px;
    padding: 4px;
    /* border: 1px solid red; */
}

div.img-tarjeta {

    width: 40%;
    height: 100%;
    background-color: green;
}

div.img-tarjeta img {
    width: 100%;
    height: 100%;
}

div.titulo-tarjeta {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
    padding: 4px;
    background-color: #252525;
    font-size: 10px;
    font-weight: bold;
    /* border: 1px solid white; */
}

h1.titulo-gral-caja {
    font-size: 16px;
}

div.contenedor-cajas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* border: 1px solid green; */
}

div.caja {
    flex: 0 0 auto;
    width: 50%;
    height: 210px;
    padding: 4px;
    white-space: nowrap;
    /* background-color: orange; */
    /* border: 1px solid white; */
}

div.img-caja-1, div.img-caja-2, div.img-caja-3, div.img-caja-4{
    width: 100%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}

div.img-caja-1 {
    background-image: url('../img/musico1.jpg');
}
div.img-caja-2 {
    background-image: url('../img/musico2.jpg');
}

div.img-caja-3 {
    background-image: url('../img/musico3.jpg');
}

div.img-caja-4 {
    background-image: url('../img/musico4.jpg');
}

div.texto-caja p:first-child {
    font-size: 15px;
    margin: 0;
}

div.texto-caja p:last-child {
    font-size: 13px;
    margin: 0;
}

@media (min-width: 600px) {
    div.tarjeta {
        width: 25%;
    }

    div.img-tarjeta {
        width: 20%;
    }

    div.titulo-tarjeta {
        width: 80%;
        font-size: 15px;
        padding: 8px;
    }

    div.caja {
        width: 25%;
        height: 300px;
    }

    div.img-caja-1, div.img-caja-2, div.img-caja-3, div.img-caja-4 {
        height: 250px;
    }

}